.container {
  max-width: 600px;
  margin: auto;
  font-family: Arial, sans-serif;
}

.countries-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.correct {
  color: green;
  margin-left: 8px;
}

.incorrect {
  color: red;
  margin-left: 8px;
}

.results {
  margin-top: 20px;
  font-weight: bold;
}
label{
  margin-right: 10px;
  width: 200px;
}
